<!DOCTYPE HTML>
<HTML>   
	<HEAD>
    <div class="topnav">
      <link rel="stylesheet" type="text/css" href="/home/markline/Flask/Status/css/nav.css">
      <a class="active" href="/home/markline/Flask/templates/homepage.html">Home</a>
      <a href="/home/markline/Flask/templates/hmmmm.html">Log In</a>
    </div>   
       </HEAD>
   
   <BODY>
	     <body bgcolor="#afafaf">
		          <link rel="stylesheet" type="text/css" href="/home/markline/Flask/Status/css/bg.css">
 <aside>
     <h2>Brief Info</h2>
	  <ul>
	       <li><a href="https://www.toyota.com/"><h3>Toyota</h3></a>
	       <li><a href="https://www.landrover.com/vehicles/range-rover/index.html"><h3>Range Rover</h3></a>
	       <li><a href="https://www.jeep.com/"><h3>Jeep</h3></a</li>
	       <li><a href="https://www.bmw.com/en/index.html"><h3>BMW</h3></a></li>
	  </ul>


   </BODY>
    
    
       <footer>
 Copyright &copy; 2016 Pearl's Garage
 </footer>
    
</HTML>
