<!DOCTYPE html>
<html>
<head>
 <title> Pearls's garage </title>
     <link href="/home/markline/Flask/Status/css/home.css" rel="stylesheet" type="text/css">
 
</head>

<body>
 
 <div id="container">

 <header>
<div class="topnav">
  <link rel="stylesheet" type="text/css" href="/home/markline/Flask/Status/css/nav.css">
  <a class="active" href="/home/markline/Flask/templates/hmmmm.html">Log in</a>
  <a href="/home/markline/Flask/templates/about.html">About</a>
</div>



 <h1>Car Gallery</h1>
 
 <link rel="stylesheet" type="text/css" href="/home/markline/Flask/Status/css/kkk.css">
</header>
 <section>
     <article

	  <div class="row">
	       <div class="row">
		    <img src="/home/markline/Flask/Status/images/hello2.jpeg" width="450" height="450" alt="Computer Hope">  
		    <h3>Toyota GHS89000</h3> 
	       </div>
	       <div class="row">
		    <img src="/home/markline/Flask/Status/images/hello4.jpeg" width="450" height="450" alt="Computer Hope">
		    <h3>BHP GHS 145000</h3>	   
	       </div>
	  </div>
     
	       <div class="row">
		    <div class="column">
		    <img src="/home/markline/Flask/Status/images/hello5.jpeg" width="450" height="450" alt="Computer Hope">  
		    <h3>Toyota GHS89000</h3> 
	       </div>
	       <div class="column">
		    <img src="/home/markline/Flask/Status/images/images.jpeg" width="450" height="450" alt="Computer Hope">
		    <h3>BHP GHS 145000</h3>
	       </div
	       
	  </div>
	     

     </article>
          <link rel="stylesheet" type="text/css" href="/home/markline/Flask/Status/css/bg.css">
 <aside>
     <h2>Brief Info</h2>
	  <ul>
	       <li><a href="https://www.toyota.com/"><h3>Toyota</h3></a>
	       <li><a href="https://www.landrover.com/vehicles/range-rover/index.html"><h3>Range Rover</h3></a>
	       <li><a href="https://www.jeep.com/"><h3>Jeep</h3></a</li>
	       <li><a href="https://www.bmw.com/en/index.html"><h3>BMW</h3></a></li>
	  </ul>
 </aside>
 
 <footer>
 Copyright &copy; 2016 Pearl's Garage
 </footer>
 
 </div>
</body>
</html>
